{
	"{{fqdn}}_pool": 
		{
 		"class": "Pool",
		"monitors": [ "http"],
              "members": [
                {
                  "servicePort": 80,
                  "serverAddresses": []
                }
              ]
            }
}
